@model YCProduction.Model.Entitys.System.SysMenu
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}

<link href="~/js/lay-module/treetable-lay/treetable.css" rel="stylesheet" />
<div class="main">
    <!----------------------查询---------------------------------->
    <fieldset class="table-search-fieldset">
        <legend>搜索信息</legend>
        <div class="divQuery">
            <div class="layui-btn-group" style="line-height:60px;padding-left:50px;">
                <button class="layui-btn layui-btn-sm" id="btn-expand">全部展开</button>
                <button class="layui-btn layui-btn-sm" id="btn-fold">全部折叠</button>
            </div>
            <div class="btn-right">
                @Html.TopToolBarHtml(ViewData["ActionFormRightTop"])
            </div>
        </div>
    </fieldset>
    <!------------------表格-------------------------->
    <div class="divTable">
        <div class="content">
            <table id="munu-table" lay-filter="munu-table"></table>
        </div>
    </div>
    <!------------------------工具栏-------------------------->
    <script type="text/html" id="toolBar">
        @Html.ToolBarHtml(ViewData["ActionList"])
    </script>
</div>
<script type="text/javascript">
    layui.use(['table', 'treetable', 'common'], function () {
        var $ = layui.$,
            table = layui.table,
            common = layui.common,
            treetable = layui.treetable;
        treetable.render({
            treeColIndex: 1,
            treeSpid: -1,
            treeIdName: 'Id',
            height: 'full-160',
            toolbar: true,
            treePidName: 'ParentId',
            elem: '#munu-table',
            url: '/System/Menu/GetMenuList',
            page: false,
            cols: [[
                 { field: 'Id', title: '@Html.DisplayNameFor(a=>a.Id)' },
                 { field: 'MenuName', title: '@Html.DisplayNameFor(a=>a.MenuName)' },
                 { field: 'MenuUrl', title: '@Html.DisplayNameFor(a=>a.MenuUrl)' },
                 { field: 'MenuIccon', title: '@Html.DisplayNameFor(a=>a.MenuIccon)' },
                 { field: 'OrderNo', title: '@Html.DisplayNameFor(a=>a.OrderNo)' },
                 {
                     field: 'Status', title: '@Html.DisplayNameFor(a=>a.Status)', templet: function (res) {
                         if (res.Status == 1)
                             return "关闭"
                         else
                             return "启动"
                     }
                 },
              { field: '', title: '操作', toolbar: '#toolBar', width: 220 }
            ]]
        });
        //添加
        $('#btnAdd').on('click', function () {
            common.openTop({
                title: '添加菜单', w: '700px', h: '500px', content: '/System/Menu/AddMenu/'
            });
        });
        //全部展开
        $('#btn-expand').click(function () {
            treetable.expandAll('#munu-table');
        });
        //全部折叠
        $('#btn-fold').click(function () {
            treetable.foldAll('#munu-table');
        });
        //监听工具栏目
        table.on('tool(munu-table)', function (obj) {
            var data = obj.data;
            //编辑
            if (obj.event === 'edit') {
                common.openTop({
                    title: '编辑菜单', w: '700px', h: '500px', content: '/System/Menu/EditMenu/' + data.Id
                });
            }//删除
            else if (obj.event === 'del') {
                layer.confirm('确定要删除该记录', function (index) {
                    $.post('/System/Menu/DelInfo', { id: data.Id }, function (data) {
                        if (data.State) {
                            obj.del();//删除这一行
                            tipSuccess(data.Message);
                        }
                        else {
                            tipError(data.Message);
                        }
                        layer.close(index);//关闭弹框
                    });
                });
            }
                //分配功能
            else if (obj.event === 'allotAction') {
                if (data.MenuLevel !== 3) {
                    layer.msg("当前菜单为父级菜单");
                    return false;
                }
                common.openTop({
                    title: '分配按钮', w: '300px', h: '300px', content: '/System/Action/AllotAction/' + data.Id
                });
            }
        });
    });
</script>

