@model YCProduction.Model.Entitys.System.SysRole
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}

<div class="main">
    <!------------------查询-------------------------->
    <fieldset class="table-search-fieldset">
        <legend>搜索信息</legend>
        <div class="divQuery">
            <form class="layui-form" action="" id="formSearch">
                <div class="layui-form-item">
                    <label class="layui-form-label">角色名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="RoleName" placeholder="角色名称" class="layui-input">
                    </div>
                    <div class="layui-input-inline btn">
                        <a href="javascript:;" class="layui-btn layui-btn-sm" id="btnQuery" data-type="reload">
                            查询
                        </a>
                        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                    </div>
                    <div class="btn-right">
                        @Html.TopToolBarHtml(ViewData["ActionFormRightTop"])
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
        <!------------------表格-------------------------->
        <div class="divTable">
            <div class="content">
                <table id="defaultTable" lay-filter="RoleTable"></table>
            </div>
        </div>
        <!-------------------工具栏------------------------->
        <script type="text/html" id="toolBar">
            @Html.ToolBarHtml(ViewData["ActionList"])
        </script>
</div>


<script type="text/javascript">
    layui.use(['form', 'table', 'common'], function () {
        var form = layui.form,
            common = layui.common,
            table = layui.table,
            $ = layui.$;
        //渲染表格
        table.render({
            id: 'defaultReload',
            elem: '#defaultTable',
            height: 'full-110',
            url: '/System/Role/GetRoleList',
            toolbar: true,
            page: true,
            cols: [[
                 { field: 'RoleName', title: '@Html.DisplayNameFor(a=>a.RoleName)', sort: true },
                 {
                     field: 'Status', title: '@Html.DisplayNameFor(a=>a.Status)', sort: true, templet: function (res) {
                         if (res.Status == 0)
                             return "启用"
                         else
                             return "关闭"
                     }
                 },
                { field: 'CreateDate', title: '@Html.DisplayNameFor(a => a.CreateDate)', sort: true, templet: '<div>{{__subDateTime(d.CreateDate)}}</div>' },
                { field: 'Remark', title: '@Html.DisplayNameFor(a=>a.Remark)', sort: true },
                 { field: '', title: '操作', toolbar: '#toolBar',width:200 }
            ]]
        });
        var active = {
            reload: function () {
                var jsonWhere = urlToJson($("#formSearch").serialize());
                //执行重载
                table.reload('defaultReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                  , where: jsonWhere
                });
            }
        };
        //服务器排序
        table.on('sort(RoleTable)', function (obj) {
            table.reload('defaultReload', {
                initSort: obj
              , where: { //请求参数
                  field: obj.field //排序字段
                , order: obj.type //排序方式
              }
            });
        });
        //查询
        $("#btnQuery").on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        //添加
        $('#btnAdd').on('click', function () {
            common.openTop({
                title: '添加角色', w: '600px', h: '400px', content: '/System/Role/AddRole/'
            });
        });
        //监听工具栏
        table.on('tool(RoleTable)', function (obj) {
            var data = obj.data;
            //编辑
            if (obj.event === 'edit') {
                common.openTop({
                    title: '编辑角色', w: '600px', h: '400px', content: '/System/Role/EditRole/' + data.Id
                });
            }//删除
            else if (obj.event === 'del') {
                layer.confirm('确定要删除该条数据', function (index) {
                    $.post('/System/Role/DelInfo', { id: data.Id }, function (data) {
                        if (data.State) {
                            obj.del();//删除这一行
                            tipSuccess(data.Message);
                        }
                        else {
                            tipError(data.Message);
                        }
                        layer.close(index);//关闭弹框
                    });
                });
            }
                //分配权限
            else if (obj.event === 'allotMenu') {
                common.openTop({
                    title: '分配权限', w: '100%', h: '100%', content: '/System/Role/AllotMenu?id=' + data.Id + '&roleName=' + data.RoleName
                });
            }
        });
    });
</script>

